.venv/
.venv310/
__pycache__/
checkpoints/
logs/
data/
!src/data/
!src/data/__init__.py
!src/data/dataset.py
!src/data/preprocessing.py
*.pyc
.dist/
results/
explanations/

# Large dataset folders (don't push to GitHub)
Fake News Dataset/
Fake News Detection Dataset/
Fake or Real News Dataset/
ISOT Fake News Dataset/
